<!DOCTYPE html>
<html lang="en">
{% include "partials/head.html.j2" %}
<body>
  <div class="app">
    {% include "partials/header.html.j2" %}

    <div class="layout">
      {% include "partials/inputs.html.j2" %}
      {% include "partials/outcomes.html.j2" %}
    </div>
  </div>

  <script type="application/json" id="market-data">
{{ market_data_json | safe }}
  </script>

  <script>
    const SIM_WORKER_SOURCE = {{ worker_js_string | safe }};
  </script>

  <script>
{{ app_js | safe }}
  </script>
</body>
</html>
